*{
    box-sizing: border-box;
}

body{
background-color: black;
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 640px;
    height: 334px;
    border-radius: ;
    background-color: white;
    border-radius: 4px;
}
.auto{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.auto h3{
    padding: 40px 192px 16px 192px;
    text-align: center;

}
.write{
    padding: 16px 426px 8px 16px;
    font-size: 14px;
    line-height: 18px;
    margin: 0;

}
.num{
    margin: 8px 16px 16px 16px;
    padding: 16px 410px 16px 16px;
    border: 0.5px solid #DADADA;
}
.button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 48px;
    letter-spacing: 1px;
    background-color: black;
   margin: 0 128px 48px 128px;
   border-radius: 4px;
}
.button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
}