body{
    background-color: black;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 248px 368px 168px 408px;

}

.main_wrapper{
    width: 850px;
    height: 708px;
    border-radius: 8px;
    background: #FFFFFF;

}

.head{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 40px 166px 0px 20px;
}

.name_org{
   width: 308px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 24px 8px 16px 24px;
    padding: 0 115px 0 15.69px;
}
.position{
    width: 200px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 72px 0 16px;
}

.wage{
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 8px 16px 24px;
    padding: 0 0 0 16px ;
}

.wage_months{
    width: 280px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 8px 0 16px;
}

.info_credit{
    width: 332px;
    height: 16px;
    font-size: 14px;
    line-height: 18px;
    margin: 16px 308px 8px 24px;
}

.buy_phone{
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    width: 625px;
    height: 48px;
    margin: 8px 15px 16px 24px;
    padding: 0 0 0 16px;
}
.cost_goods{
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    margin: 0 8px 16px 24px;
    padding: 0 0 0 16px;
}
.quantity_goods{
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    margin: 0 8px 16px 0px;
    padding: 0 0 0 16px;
}
.total_loan{
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    padding: 0 0 0 16px;
}
.loan_type{
    background-color: white;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    margin: 0 8px 16px 24px;
    padding: 0 0 0 16px;
}
.credit_term{
    width: 200px;
    height: 48px;
    background-color: white;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 0 0 16px;

}
.pick_up{
    width: 625px;
    height: 48px;
    background-color: white;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 15px 40px 24px;
    padding: 0 0 0 16px;
}

.continue_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 140px 40px 140px;
    
    
}

.continue{
    padding: 0;
    border: none;
    
}

.continue a{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    width: 384px;
    height: 48px;
    border-radius: 4px;
}
